!!!
%html
  %head
    %title= page.data["course"]["name"]
    %meta{ "http-equiv" => "Content-Type", content: "text/html;charset=utf-8" }
    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
    = stylesheets.load("application.css")
    = stylesheets.load("//fonts.googleapis.com/css?family=Nunito:300")
    :css
      body {
        font-family: 'Nunito', sans-serif;
        font-weight: 300;
        font-size:15px;
      }
      #description div {
        font-family: 'Nunito', sans-serif;
      }
    = javascripts.load("offline/d3.v3.min.js")
    = javascripts.load("application.js")
    - if env == "production"
      = partial("heap.html")
    - else
      = javascripts.load("offline/stacktrace.js")
  %body.visualizer
    = partial("newsletter.html")
    :javascript
      NIL.course(#{ page.course.to_json });

  - if env == "production"
    = partial("clicky.html")
